flows.json
[
    {
        "id": "c9a1f7f0c67c7d04",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cd06a57c2fe56d87",
        "type": "inject",
        "z": "c9a1f7f0c67c7d04",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "a8a8bbb8b009d76b"
            ]
        ]
    },
    {
        "id": "5682d3bb64a46364",
        "type": "debug",
        "z": "c9a1f7f0c67c7d04",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 140,
        "wires": []
    },
    {
        "id": "a8a8bbb8b009d76b",
        "type": "change",
        "z": "c9a1f7f0c67c7d04",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 140,
        "wires": [
            [
                "5682d3bb64a46364"
            ]
        ]
    }
]